In [10]:
import pandas_datareader.data as web
import streamlit as st
import plotly.express as px
import datetime
from datetime import date

In [16]:
end_date=date.today()
start_date=end_date-datetime.timedelta(days=365*10)

In [17]:
start_date

datetime.date(2013, 2, 24)

In [18]:
df=web.DataReader('GDP','fred',start_date,end_date)

In [19]:
df.head()

                  GDP
DATE
2013-04-01  16699.551
2013-07-01  16911.068
2013-10-01  17133.114
2014-01-01  17144.281
2014-04-01  17462.703