In [1]:
import pandas_datareader as pdr
import streamlit as st
import plotly.express as px
import datetime

In [2]:
start_date = datetime.date(2018, 1, 1)
start_date_str = datetime.datetime.strftime(start_date, "%Y-%m-%d")

data_source = 'fred'
snp_code = 'SP500'

snp_data_df = pdr.DataReader(snp_code, data_source, start_date)

snp_data_df.head()

              SP500
DATE
2018-01-01      NaN
2018-01-02  2695.81
2018-01-03  2713.06
2018-01-04  2723.99
2018-01-05  2743.15

In [5]:
snp_data_df.columns[0]

'SP500'